<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form__wrapper">
    <h1 class="form-name">Login</h1>
    <div class="form__input__wrapper">
      <input
        [ngClass]="{
        invalid: form?.get('name')?.touched && form?.get('name')?.invalid
        }"
        formControlName="name"
        type="text"
        id="login"
        placeholder="Login"
      />
      <input
        [ngClass]="{
        invalid: form?.get('password')?.touched && form?.get('password')?.invalid
      }"
        formControlName="password"
        type="password"
        id="password"
        placeholder="Password"
      />
    </div>
  </div>
  <div
    class="email-form-error"
    *ngIf="form?.get('name')?.touched && form?.get('name')?.invalid && form?.get('name')?.errors?.['required'] "
  >
    <small
      style="margin-right: 12rem;"
    >Enter email
    </small>
  </div>
  <div
    class="password-form-error"
    *ngIf="form?.get('password')?.touched && form?.get('password')?.invalid "
  >
    <small
      style="margin-right: -0.8rem;;"
    >Enter password (minimal length 8 symbol)
    </small>
  </div>
  <button class="btn-submit" type="submit">Login</button>
  <a routerLink="/registration" class="registration-link"> Registration </a>


</form>
